# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Virtual environments
venv/
.env
.env.*

# Editor configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Python tooling
.pytest_cache/
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/
